@media only screen and (max-width: 786px) {
    /* For tablets: */
    .default-card-flex {
        border-radius: 30px;
        margin: 20px; /* Replace for Responsive */
        align-items: top;
        justify-content: space-between;
        padding: 40px;
    
    }

    .responsive {
        display: flex;
        background-color: #182149;
    }

    .help{
        flex-wrap: wrap;
    }

    h2 {
        text-align: center;
    }
    
    .conditions {
        list-style: circle;
        
        padding: 0px;
        width: 25%;
        background-color: #D7EF65;
    }
    
    .conditions li {
        margin: 15px;
    }
  }
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .default-card-flex {
        display: flex;
        flex-direction: row;
        border-radius: 30px;
        margin: 20px; /* Replace for Responsive */
        align-items: top;
        justify-content: space-between;
        padding: 40px;
    
    }
    .responsive {
        display: flex;
        background-color: #182149;
    }
    
    
    .conditions {
        display: flex;
        list-style: circle;
        flex-wrap: wrap;
        padding: 0px;
        width: 25%;
    }
    
    .conditions li {
        margin: 15px;
    }
  }

  @media only screen and (max-width: 320px) {
    /* For Mobile */
    .default-card-flex {
        border-radius: 30px;
        align-items: top;
        justify-content: space-between;
        padding: 40px;
    
    }

    
    .conditions {
        list-style: circle;
        flex-wrap: wrap;
        padding: 0px;
        width: 25%;
    }
    
    .conditions li {
        margin: 15px;
    }
  }


body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin:0px;
}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 20px;
    background-color: #434343;
    box-shadow: 5px 3px 3px rgba(1, 1, 1, 0.326);
}

.select {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    color: #5f1515;
}

.warningBar {
    background-color: red;
    margin: 0px;
    text-align: center;
}

h1 , h2 {
    font-weight: bold;
}


.default {
    background-color: #434343;
    background-image: linear-gradient( #434343, #939393);
}

.default-card {
    background-color: #c5c5c536;
}

.default-accent{
    color: #000000;
}

.default-warning {
    background-color: #ea787856 ;
}

.freezing {
    background-image: linear-gradient( #182149, #234DA2);
}

.freezing-accent{
    color:  #23E2FF;
}
.freezing-warning {
    background-color: #23E2FF;
}

.hot {
    background-image: linear-gradient( #F8912A, #F51C1C);    
}

.hot-accent {
    color: #D7EF65;
}

.hot-warning {
    background-color: #D7EF65;
}
