
  @media only screen and (min-width: 845px) {
    /* For desktop: */
    .default-card-flex {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: cent;
        background-color: #000000;
    
    }
    .city-card-flex{
        display: flex;
        background-color: #182149;
    }
    .conditions-wrapper-flex {
        margin: 0%;
        padding: 0%;
        list-style: circle;
        background-color: #182149;
    }

    /* Weekly */

    .weekly {
        text-align: center;
    }
    
    .weekly-grid{
        display: flex;
        justify-content: space-around;
    
    }
    
    /* .weekly-grid div:not(:first-child) {
        border-left: 1px solid white;
    } */
    
  }

  @media only screen and (max-width: 845px) {
    /* For Tablet */

    .default-card-flex {
        margin: 20px;
        border-radius: 30px;
        align-items: top;
        justify-content: space-between;
        padding: 30px;
    
    }

    .city-card-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 30px;
        padding-bottom: 0px;
    }

    .conditions-wrapper-flex {
        display: flex;
        flex-direction: column;
        padding: 20px;
        text-align: center; 
        justify-content: space-evenly;
        align-items: left;
    }

    
    .conditions {
        list-style: circle;
        text-align: left;
        font-size: 1.2rem;
        font-weight: 100;
        margin-left: 10%;
    }

        /* Weekly */

        .weekly {
            text-align: center;
        }
        
        .weekly-grid{
            display: flex;
            justify-content: space-around;
        
        }
        
        .weekly-grid div:not(:first-child) {
            border-left: 1px solid white;
        }
    
  }

  @media only screen and (max-width: 635px) {
    /* For Mobile */
    .default-card-flex {
        border-radius: 30px;
        align-items: top;
        justify-content: space-between;
        margin: 20px;
        padding: 40px;
        text-align: center;
    
    }

    .conditions-wrapper-flex {
        text-align: center; 
        list-style: none;
        
    }

    .conditions-wrapper-flex ul {
        text-align: center;
        list-style: none;
        padding: 0%;
        margin: 0%;
    }

        /* Weekly */

        .weekly {
            text-align: center;
        }
        
        .weekly-grid{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        
        }
        
        .weekly-grid div:not(:first-child) {
            border-top: 1px solid white;
            border-left: 0px;
        }



  }


body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    margin:0px;
}

footer {
    text-align: center;
    margin: 0%;
    padding: 20px;
    font-size: 0.9rem;
}

.bold {
    font-weight: 900;
    font-size: 1.5rem;
}



.card-style {
    border-radius: 30px;
    padding: 50px;
    Margin: 20px;

}

.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 20px;
    background-color: #434343;
    box-shadow: 5px 3px 3px rgba(1, 1, 1, 0.326);
}

.hourly {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/*Table canaot go lower than 375px */
.hourly table {
    text-align: left;
    width: 100%;
}

.hourly table, th, td{
    padding: 10px;
    text-align: center;
    font-size: 0.9rem;

}

.select {
    background-color: white;
    font-family: 'Quicksand', sans-serif;
    border-radius: 20px;
    padding: 5px;
    width: 200px;
    color: #5f1515;
}

.warningBar {
    background-color: red;
    margin: 0px;
    text-align: center;
}

h1 , h2 {
    font-weight: bold;
}


.default {
    background-color: #434343;
    background-image: linear-gradient( #434343, #939393);
}

.default-card {
    background-color: #c5c5c536;
}

.default-accent{
    color: #000000;
}

.default-warning {
    background-color: #ea787856 ;
}

.freezing {
    background-image: linear-gradient( #182149, #234DA2);
}

.freezing-accent{
    color:  #23E2FF;
}
.freezing-warning {
    background-color: #23E2FF;
}

.hot {
    background-image: linear-gradient( #F8912A, #F51C1C);    
}

.hot-accent {
    color: #D7EF65;
}

.hot-warning {
    background-color: #D7EF65;
}
